body {
    margin: 0;
    font-family: $font;
    text-transform: uppercase; /* Texto em maiúsculo */
    background-color: $dark;
    overflow-x: hidden; // esconde o conteúdo que ultrapassar o tamanho do body no eixo X (horizontal)
}

img {
    max-width: 100%;
}


h2 {
    color: $light;
    font-size: 48px;
    margin: 0;
}

p {
    color: white;
    font-size: 18px;
    line-height: 130%;
}