// Declaração de variável - comentários com /**/ aparecem no CSS
$font: 'Teko', sans-serif;
$primaryColor: #b91f33;
$primaryDark: #70111e;
$dark: #040507;
$light: #dddddd;
$greyDark: #222222;
$grey: #666666;